<p>
<strong>Title:</strong>
<%= @article.title %>
</p>

<p>
<strong>Text:</strong>
<%= @article.text %>
</p>
<p><a href="/articles/new">Create a new article</a> <a href="/articles">View all articles</a>
</p>