@import "bootstrap";

body {
    background-color: rgb(173, 218, 233);
    padding-left:50px;
    padding-top:25px;
    padding-right:50px;
    padding-bottom:25px;
    h1 {
        background-color: rgb(107, 189, 221);
      }
      
      div {
        background-color: rgb(117, 208, 238);
      }
      
      p {
        background-color: rgb(119, 212, 235);
      }
    }