<h1> Car Details: </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Created By</th>
    <th>Photo</th>
  </tr>
 
    <tr>
      <td><%= @car.title %></td>
      <td><%= @car.description %></td>
      <td><%= @car.created_by %></td>
      <td><%= image_tag @car.avatar.url(:medium) %></td>
    </tr>
</table>

<p><a href="/cars">View car list</a>
 <% if current_user.role == 1 %> 
<a href="/cars/new">Create new car</a></td>
<% end %></p>